@import "tailwindcss";

:root {
  --background-light: #EEFFF6;
  --foreground-light: #AEF4CF;
  --main-text-light: #372606;
  --main-subtext-light: #493008;
  --pressed-button-light: #22A55F;
  --hover-button-light: #33E686;
}
