@import "tailwindcss";

:root {
  --background: #EEFFF6;
  --foreground: #AEF4CF;
  --main-text: #372606;
  --main-subtext: #493008;
  --pressed-button: #22A55F;
  --link-text: #685428;
  --hover-button: #33E686;
}

html.dark {
  --background: #121212;
  --foreground: #191919;
  --main-text: #EEFFF6;
  --main-subtext: #DDDDDD;
  --link-text: #AEF4CF;
  --pressed-button: #777777;
  --hover-button: #474747;
}

html.neopolitan {
  --background: #FFFFFF;
  --foreground: #FFCECE;
  --main-text: #372606;
  --main-subtext: #493008;
  --link-text: #685428;
  --pressed-button: #FF7070;
  --hover-button: #FFB0B0;
}

main {
  min-height: 100vh;
  max-width: 36rem;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: var(--background);
  font-family: var(--font-kaisei), serif;
}

p {
  margin: 10px 0px 10px 0px;
  color: var(--main-subtext);
}

a {
  color: var(--link-text);
}

h1 {
  color: var(--main-text);
  margin: 32px 0px 12px 0px;
  font-size: 3rem;
}

h2 {
  color: var(--main-text);
  margin: 0px 0px 16px 0px;
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  color: var(--main-text);
  margin: 12px 0px 12px 0px;
  font-size: 1.25rem;
  font-weight: bold;
}
